@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Concert One;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #46177D;

    font-family: Concert One;
    color: white;
    text-align: center;
    padding: 10px;
    height: 70px;
}
.imagem-logo {
    display: block;
    width: 200px;
    height: 60px;
}
.icone-menu {
    padding: 20px;
    font-size: 37px;
}
h1 {
    margin-left: 280px;
    font-size: 30px;
    letter-spacing: 5px;
}
.container {
    margin-top: 30px;
    display: grid;
    align-items: stretch;
    justify-content: center;
    height: 90vh;
    grid-template: 425px 425px / 425px 425px;
    column-gap: 50px;
}
.quadro {
    background-color: #d9d9d9;
    display: block;
    width: 425px;
    height: 300px;
    border-radius: 30px;
    
}
.quadro:hover {
    border: 2px solid #46177D;
}
.titulo {
    text-align: center;
    color: #04432D;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
}

.menu-lateral {
    width: 500px;
    height: 100vh;
    background-color: #46177D;
    display: none;

    transition: 1s;
}

.topico-titulo {
    color: white;
    margin-left: 20px;
    font-size: 1.3em;
}
.topico{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.topico-titulo:hover, .topico:hover, .icone-lateral:hover {
    cursor: pointer;
}
.icone-lateral {
    color: white;
    margin-bottom: 20px;
}
.icone {
    color: white;
    margin-left: 30px;
    font-size: 40px;
} 
.linha {
    margin-top: 60px;
    width: 90%;
    margin-left: 27px;
}
.imagem-menu {
    margin-top: 50px;
    margin-left: 15%;
}
.erro-tela {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.imagem_banner{
    width: 99vw;
    height: 250px;
}
